*{margin:0px;padding:0px;}
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
address{
    font-style: inherit;
}
ul,ol{
    list-style: none;
}
a{color: inherit;text-decoration: inherit;}

img{
    max-width:100%
}

.pt{
    font-family: "Aboreto", system-ui;
}

html{
    font-size: 20px;
    font-family: 'Pretendard'; /*끌어오기*/
}

.container{
    width:auto;
    max-width:1920px;
}

.titlebox{
    width:min(1600px, calc(100% - 16rem));
    text-align:center;
    margin:0 auto 5rem;
    padding-top:8rem;
}

h1.pt{
font-weight: 400;
font-size: 2.5rem;
text-transform: uppercase;
}

.titlebox p{
margin-top: 1rem;
font-weight: 400;
font-size: 1rem;
line-height: 140%;
text-transform: uppercase;
}

.banner{
    height:35rem;
    background: url(./ex5.banner.jpg) no-repeat 50% 50% / cover;
    width: 100%;
    margin-bottom: 5rem;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

h2.pt{
    font-size: 7.5rem;
    color: #fff;
    font-weight: 400;
    line-height: 90%;
    text-transform: uppercase;
}

h2.pt span{
    display:inline;
}
.signature-list{
    width:min(1600px, calc(100% - 16rem));
    margin:0 auto;
}

.subtitle{
    margin-bottom: 3.5rem;
}

h3.pt{
font-weight: 400;
font-size: 2rem;
line-height: 140%;
letter-spacing: 0%;
text-align: center;
margin-bottom: 1rem;
}

.subtitle p{
font-weight: 400;
line-height: 140%;
text-align: center;
}

.ul{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:1rem;
}

.list{
    display:flex;
    flex-direction:column;
}

.list img{
    width:100%;
    aspect-ratio: 1/1;
    object-fit:cover;
    border-radius:1rem;
    display:block;
}

.text{
    margin-top:1rem;

}

.title{
font-weight: 700;
line-height: 140%;
text-transform: capitalize;
margin-bottom: 0.5rem;
}

.context{
font-weight: 400;
line-height: 140%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    overflow: hidden;

}

@media(max-width:1024px){
    body{
    background:red;
    }
    html{
    font-size:18px;
    }
    h2.pt{
    font-size: 4.4rem;
    }
}

@media(max-width:768px){
    body{
        background:blue;
    }
    html{
        font-size:14px;
    }
    .titlebox{
    width:min(385px, calc(100% - 2rem));
    text-align:center;
    margin:0 auto 5rem;
    padding-top:8rem;
    }
    .banner{
        display:flex;
    justify-content: center;
        align-items: center;
    }
    h2.pt{
    font-size:3.5rem;
    }
    .ul{
        grid-template-columns:1fr;
    }
    h2.pt span{
        display:block;
    }
}

/*  

@media(max-width:1600px){
      .titlebox{
    text-align: center;
    margin: 2rem;
    padding-top: 8rem;
}
}



@media(max-width:1024px){

    body{
        background:red;
    }
    html{
    font-size:18px;
    }
    h2.pt{
    top: 384px;
    left: 0px;
    margin: 0 2rem;
    z-index: 2;
    font-size: 4.4rem;
}

} */

/* 

@media (max-width:768px){
    html{
        font-size:14px;
    }
    .wrap{
        margin: 0 1rem;
    }
            .title{
    font-size: 3.57rem;}

    .cafe-figure{
        display:grid;
        gap: 1rem 1rem;
        grid-template-columns: repeat(2,1fr);

    }
    .cafe-figure .asr2{
        grid-column: 1/3;
        aspect-ratio: 365/150;
    }

    .cafe-figure figure{
        aspect-ratio: 175/150;
    }

    .cafe-figure.asr{
        display:flex;
        flex-direction: column;
    }

    .cafe-figure.asr figure{
        min-height: 0;
        aspect-ratio: 365/150;
    }
}

@media (max-width:280px){
    .banner h1{
        font-size: 1.6rem;
    }
}  */ */
