@charset 'utf-8';
*{margin:0;padding:0;}
a{text-decoration: inherit;color:inherit;}
ul{list-style:none;}
img{max-width: 100%;}

html{
    background-color: #fff;
    color: #333;
}

.container{
    width:1000px;
    display:flex;
}

header{
    width:200px;
}

.gnb{
    width:180px;
    margin:0 auto;
}

.gnb a{
    width:180px;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: aquamarine;
}

.gnb>li:hover ul{
    max-height:150px;
}

.gnb ul{
    max-height:0;
    overflow:hidden;

     transition:all 0.8s ease 0s;
}

.gnb li:hover>a{
    background-color: #000;
    color:#fff;
}

.gnb ul a{
    height:30px;
}


.station{
    width:100%;
    height:350px;
}

.train{
    width:100%;
    height:100%;
    position:relative;
}

.train>div{
    width:100%;
    height:100%;
    position:absolute;
    
    left:0;
    top:0;
    opacity:0;
    pointer-events:none;
    transition:all 0.8s ease 0s;
}

.train>div.on{
    opacity:1;
    pointer-events:auto;
}

.train div.on{
    opacity:1;
    pointer-events:auto;
}

