@charset 'utf-8';
*{margin:0;padding:0;}
a{text-decoration: inherit;color:inherit;}
img{max-width:100%;}
ul{list-style:none;}

html{
    background-color: #fff;
    color:#333;
}

header{
    width:100%;
    position:relative;
    z-index:100;
}

.inner-frame{
    width:1200px;
    height:100px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}

.gnb{
    display:flex;
    margin-top:25px;
    margin-right:25px;
}

.gnb a{
    display:flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height:50px;
    background-color: #fff;
}

.gnb>li{
    height:50px;
    overflow:hidden;

    transition:all 0.5s ease 0s;
}

.gnb>li:hover{
    height:250px;
}

.gnb li:hover>a{
    background-color: black;
    color:#fff;
}