*{margin:0px;padding:0px;}
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
address{
    font-style: inherit;
}
ul,ol{
    list-style: inherit;
}
a{color: inherit;text-decoration: inherit;}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}
.point-type{font-family: "Aboreto", system-ui;}

html{
    font-family: 'Pretendard',sans-serif;
    font-size: 20px;
}

.hero-banner{
    height:599px;
    background: url("./반죽.png") no-repeat 50% 50% / cover;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}
.hero-banner h1{
    font-size: 2.5rem;
    line-height: 100%;
    text-transform: uppercase;
}
.wrap{
    width:1600px;
    margin:0 auto;
}
.con1{
    margin-bottom: 3rem;
}
.con1 h2{
    font-weight: 400;
    font-size: 4rem;
    line-height: 90%;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
.con1 p{
    padding:1rem 0;
    border-top: 1px solid #000000;
    text-align: right;
}
figure.coffee img{
    width:1000px;
    height:430px;
    object-fit: cover;
    margin-bottom: 1rem;
}


@media (max-width:1600px){
    /* 가로스크롤이 생기는 지점 */
    .wrap{
    width: auto;
    margin: 0 2rem;}
}

@media(max-width:1024px){
        html{
        font-size:18px;
        }
        figure.coffee img {
            height:350px;
    /* width: 100%;
    height: auto;
    aspect-ratio: 100/43; */
    }
}

@media (max-width:768px){
    /* 모바일 최대크기 */
    html{
        font-size:14px;
    }
    .wrap{
    margin: 0 1rem;}
    figure.coffee img {
    height: 200px;
    }
}

img{
    max-width:100%
}
